@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Noto+Serif&display=swap");

html {
  background-color: #91f5f9;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: #dfbcfc;
  padding: 1em;
  font-family: "Alegreya Sans", sans-serif;
  color: purple;
  border-radius: 0;
}

h1 {
  margin: 0;
  font-family: "Noto Serif", serif;
  color: white;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  color: purple;
}

h3 {
  margin: 0;
  justify-content: center;
  color: #300455;
}

h6 {
  margin: 0;
}

header {
  margin: 5px;
  padding: 1em;
  text-align: left;
  background-color: purple;
}

header h2 {
  margin: 0;
  font-size: 0.8em;
  color: white;
}

header div {
  color: white;
}

#hero img {
  border: 3px solid purple;
}

nav {
  line-height: 1em;
  text-align: right;
  font-family: "Noto Serif", serif;
  background-color: purple;
}

main {
  display: flex;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: column;
}

main section {
  margin: 2px;
  display: flex;
  flex-direction: column;
}

main p {
  margin: 0;
  padding: 1em;
}

main span p {
  padding-top: 0;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #300455;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: #300455;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: purple;
  font-size: 0.8rem;
}

form label.top input,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px purple;
  border-radius: 4px;
  padding: 0.75rem;
  color: purple;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.5rem 0;
  color: purple;
}
