@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Rubik:wght@300&display=swap");

body {
  background-color: #fac9b8;
  color: #650d1b;
  max-width: 950px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

footer {
  color: orange;
  background-color: #650d1b;
  text-align: center;
  margin: 0px;
  border: 2px solid orange;
  font-size: 0.9em;
}

footer a:hover {
  color: #650d1b;
  background-color: orange;
}

footer a:active,
footer a:visited,
footer a:link {
  color: orange;
  background-color: #650d1b;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  color: #650d1b;
}

h1 {
  font-family: "Merriweather", serif;
  color: orange;
  font-size: 25px;
  margin: 5px;
}

h2 {
  font-size: 17px;
  border-bottom: 5px double;
  margin: 10px;
}

h6 {
  color: orange;
  font-size: 2em;
  margin: 0;
}

header {
  text-align: center;
  background-color: #650d1b;
  margin: 0px;
  padding: 20px;
  border: 2px solid orange;
}

main {
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

nav li {
  font-size: 1.5em;
  margin: 0 0 0 25px;
}

nav a:hover {
  color: #650d1b;
  background-color: orange;
}

section {
  border: 2px solid #650d1b;
}

section div {
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
}

section h2 {
  text-align: center;
}

section h3 {
  text-align: center;
  margin: 0;
}

section a {
  text-align: center;
  padding: 15px;
}

section img {
  width: 100%;
}

section p {
  padding: 10px 0 0 0;
}

.placeholder {
  margin: 25px;
}

#headingname {
  font-size: 55px;
}
